/* Setting up format of site */
html, body {
    height: 100%
}

body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color: #ebe8f3;
    color: #160936;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    background: linear-gradient(to right, #250545, #20109a);
    color: #ebe8f3;
    padding: 1rem;
    text-align: center;
    line-height: 0.5;
    border-bottom: 1px solid #160936;
}

header p {
    font-size: 0.85rem;
}

a {
    color: #d4c7f5; 
    text-decoration: none;
}

a:hover {
    color: #beaaf0; 
    text-decoration: underline;
}

footer {
    background: linear-gradient(to right, #cec5e0 0.1%, #dfdbf0 100%);
    color: #5b4f68;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;
    border-top: 1px solid #d4c7f5;
}